<div class="container">
  <h1>Welcome Angular Day 3</h1>
  <!-- <app-actorlist></app-actorlist> -->
  <!-- <app-parent></app-parent> -->
  <!-- <app-pipedemo></app-pipedemo> -->
  <!-- <app-observable></app-observable> -->
  <!-- <app-postdemo></app-postdemo> -->

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/parent" routerLinkActive="active">Parent Child</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/actors" routerLinkActive="active">Actor List</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts" routerLinkActive="active">Posts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/abcd" routerLinkActive="active">Not Found</a>
    </li>
  </ul>

  <router-outlet></router-outlet>
</div>
